@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/Fondo.css" />
</head>
<body>
<div class="text-center">
    <br />
    <br />
    <br />
    <div style="font-size:30px">
     
     La comedia de dibujos animados se centra en una familia que vive en la ciudad de Springfield. 
     La cabeza de la familia Simpson es Homero, quien no es un hombre de familia típico
     , obrero de una planta nuclear, él hace lo mejor para poder liderar a su familia,
     pero frecuentemente se da cuenta que son ellos los que lo mandan. La familia se compone de la matriarca amorosa, 
     Marge, de cabello azul, el hijo agitador Bart, la hija aplicada Lisa y la bebé Maggie. </div>
</div>

</body>